@model List<ClassRoom>

<h3 class="text-center">Sınıf Listeleme Sayfası</h3>
<a asp-controller="ClassRoom" asp-action="Create" asp-area="Management" class="btn btn-primary" style="float:right">Yeni Ekle</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Sınıf Adı</th>
            <th>Aksiyon</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <th>@(i+1) </th>
                <td>@Model[i].ID</td>
                <td>
                    
                    <a class="big-icon margin-icon" asp-controller="ClassRoom" asp-action="HardDelete" asp-area="Management" asp-route-id="@Model[i].ID"><i class="bi bi-x-circle-fill"></i></a>
                </td> 
            </tr>
        }
    </tbody>
</table>    